.dashboard {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
}
.pokemon-list {
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
}
.dashboard > h1 {
    color: red;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}
.pokemon-slot-wrapper {
    display: flex;
    gap: 80px;
}

.pokemon-slot {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px dashed gray;
}

